.faq-title{
	color: #E0394E;
	font-weight:bolder;
	text-align: center;
}

.faq{
	border:none;
}

.faq-question{
	border: none;
	background: #fff;
	color: #696969;
	font-size: 1rem;
	font-weight: bolder;
}