///single archive
.SingleEntrepeneur{
        img{
            width: 100%;
        }
        header{
            height:30vh;
        }
        #trapezoide {
            color: white;
            height: 20vh;
            width: 100%;
        }
        #trapezoid {
            color: white;
            height: 20vh;
            width: 100%;
            p{
                font-size: 1rem;
                margin-left: 2vh;
            }
            h1{
                font-size: 3rem;
                margin-left: 2vh;
                padding-top:1vh;
            }
        } 
        #triangle-up-left {
            width: 100%;
            height: 20%;
            left: 0px;
            top: 0px;
        }  
        .entry-content{
            width: 80%;
            margin: 0 auto;
        }


}

.container{
    padding:0;
    width: 100%;
}

#page{
  .main-content{
  width: 100% !important;
  margin:0 auto;
  float: none !important;
    .entrepeneur{
        color:white;
    	height:60vh;
    	border:15px solid white;
    	display: flex;	
    	flex-direction: column;
    	justify-content: flex-end;
    	padding: 0;
        a{
            color: white;
            margin-left:2vh;
        }
        h1,p{
            margin-left:2vh;
        }
        .date{
            text-align: center;
            width: 23%;
            height:55%;
            margin-left:1vh;
            margin-top: 8vh;
            color:#Fc0;
            background-color: white;
            p,h1{
                margin:0;
            }
            h1{
                font-size: 2.5rem;
            }
            
        }
    }
    #trapezoid {
    	align-self: flex-end;
        height: 20vh;
        width: 100%;
    }
    #triangle-bottomleft {
        width: 100%;
        height: 40%;
        left: 0px;
        top: 0px;
    }
}
}


@media only screen and (min-width: 768px) and (max-width:1050px){
    .entrepeneur{
        height:40vh !important; 
        .date{
            margin-top: 6vh !important;
            p{
                margin:0;
            }
        }
        } 

    .SingleEntrepeneur{
        .entry-header{
            display: flex;  
            flex-direction: row;
            justify-content: flex-start;
            padding: 0;
         }
        #trapezoide {
            align-self: flex-end;
            height: 11vh;
            width: 60%;
        }
        #triangle-bottomleft {
            align-self: flex-end;
            width: 5%;
            height: 11vh;
        }
        
    }
    #trapezoid {
        height: 15vh !important;
        }
}
@media only screen and (min-width: 1024px) and (max-width:1050px){
     .date{
            width: 18%;
            height:50%;
            p{
                font-size: 1rem !important;
            }
            h1{
                font-size: 3.5rem !important;
            }  
        }

}

@media only screen and (min-width: 1050px){
    
    .entrepeneur{
        height:60vh !important;
    .date{
            width: 20% !important;
            height:60% !important;
            p{
                font-size: 1rem !important;
            }
            h1{
                font-size: 3.5rem !important;
            }  
        }
        .date-news{
            width:25% !important;
            height:50% !important;
            margin-top: 10vh !important;
        }
    }

    .SingleEntrepeneur{

        header{
            height:60vh;
        }
        .entry-header{
            display: flex;  
            flex-direction: row;
            justify-content: flex-start;
            padding: 0;
         }
        #trapezoide {
            align-self: flex-end;
            height: 22vh;
            width: 50%;

        }
        #triangle-bottomleft {
            align-self: flex-end;
            width: 5%;
            height: 22vh;
            overflow: hidden;
        }
    }
    .events{
        height:70vh !important;
    }
}
