#program-learning{
	background: #f9f9f9;
	width: 100%;
}

.flourish{
	background: #22DFE6;
	height: 1vh;
	width: 8vh;
}

.card-front{
	background-color: fff;
	drop-shadow: 1em;
	z-index: 2;
	text-align: center;
}