#program-learning{
	background: #f9f9f9;
	width: 100%;
}

.flourish{
	background: #22DFE6;
	height: 1vh;
	width: 8vh;
	margin-bottom: 5vh;
}

p{
	color: #696969
}

h2{
	margin: 0 auto;
	text-align: center;
	color: #E0394E;
	line-height: 300%;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	text-align: center;
}

.front {
	z-index: 2;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back {
	//-webkit-transform: rotateY(180deg);
	//-moz-transform: rotateY(180deg);
  //-o-transform: rotateY(180deg);
	//transform: rotateY(180deg);
}

.back p {
	position: absolute;
	bottom: 1vh;
	color: #696969;
	left: 0;
	right: 0;
	text-align: center;
	padding: 2vh;
}
